h1 {
    display: flex;
    justify-content: center;
}
.box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: rgb(93, 93, 93);
    padding: 10px;
}
input {
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

button {
    padding: 2px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}